pinecone_setup.json
{
  "name": "pinecone_setup",
  "nodes": [
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        352,
        -176
      ],
      "id": "116a1c87-96d3-403c-a6c7-28be415940b3",
      "name": "When chat message received",
      "webhookId": "be01fd45-7d73-4b95-bf40-c3ce78f71625"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        560,
        -176
      ],
      "id": "9ca13ad0-9ca7-4065-991b-86f2a21e279d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "customer-support-doc",
          "mode": "list",
          "cachedResultName": "customer-support-doc"
        },
        "options": {
          "pineconeNamespace": "ecom-policy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        768,
        -176
      ],
      "id": "09b5ce26-8f16-41b0-bcf8-bde2d0d8a4f8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Spqn3DCTnSz0uxzk",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        64
      ],
      "id": "3bb3540d-acc6-4d65-8182-06a69ba46f81",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8oAeWyWeinIId3Gc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        48
      ],
      "id": "804f660c-c161-4da8-aae1-b2c5d446f010",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        944,
        224
      ],
      "id": "8e3dfe03-f9f7-4c73-bddf-45417bbe2030",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2b791831-de59-42c7-8660-d718047ededd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2dc06d266cea12164dcd63e4ee61a27c69f4f26aea82fe8b19581e367d078ffb"
  },
  "id": "r4M-lkU44-X4NMopwmKRr",
  "tags": []
}